/* Font family */
/* DEWI */
@font-face {
  font-family: "Dewi";
  src: url("/fonts/dewi/regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dewi";
  src: url("/fonts/dewi/semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* neue */
@font-face {
  font-family: "Neue";
  src: url("/fonts/neue/light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Neue";
  src: url("/fonts/neue/regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Neue";
  src: url("/fonts/neue/ultrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "font1";
  src: url("/fonts/font1.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "font2";
  src: url("/fonts/font2.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

/* Font family */

@import "tailwindcss";

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Variables */
@theme {
  /* width */
  --container-1680: 1680px;
  /* color */
  --color-eee: #f5f5f7;
  --color-ggg: #e0dfdf;
  --color-yellow: #f7d000;
  /* font family */
  --font-dewi: "Dewi";
  --font-neue: "Neue";
  --font-font1: "font1";
  --font-font2: "font2";
  /* font-size */
  --text-pageTitle: 72px;
  /* breakpoints */
  --breakpoint-1280: 1280px;
  --breakpoint-1000: 1000px;
  --breakpoint-760: 760px;
  --breakpoint-450: 490px;
}

/* Animate class */
.animate-spinner {
  animation: spin 10s linear infinite;
}
.group:hover .animate-spinner {
  animation-play-state: paused;
}

/* Sidebar */
.sidebar {
  flex: 0 0 35%;
  @media (max-width: 1000px) {
    flex: 100%;
  }
}

.menu {
  position: sticky;
  top: 20px;
}

.nobreak {
  white-space: nowrap;
}

a.active {
  color: #000;
}
